$main-grey: #131619;
$main-black: #000000;
$font-color-gray: #C4C4C4;
$font-color-white: #FFFFFF;
$font-color-back-gray: #404040;
$white: #FFFFFF;
$black: #000000;
$grey: #404040;

@mixin title-opacity{
    content: attr(data-title);
    position: absolute;
    top: -0.4em;
    left: -0.6em;
    display: block;
    font-family: "Yantramanav", sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px $font-color-back-gray;
    z-index: -1;
}
@mixin title-x{
    content: '';
    width: 26px;
    aspect-ratio: 1;
    background-image: url(img/motivation/x.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -32px;
    top: 0;
}
@mixin title-style{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    position: relative;
    margin-bottom: 14px;
    z-index: 1;
}
@mixin subtitle-style{
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.8px;
    color: $font-color-gray;
    margin-bottom: 36px;
}